@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');

.header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 1;

    &__logo {
        margin-right: 24px;
        
        h1 {
            margin: 0;
            font-family: 'Maven Pro';
            font-size: 24px;
        }
        
        span {
            margin: 0 4px;
            font-size: 16px;
        }
    }

    &__menu {
        margin: 0;
        padding: 0;

        &--item {
            list-style: none;
        }

        &--link {
            // display: block;
            padding: 8px 18px;
            text-decoration: none;
            color: #484965;
            font-size: 18px;
            line-height: 16px;
        }

        &--ecommerce {
            margin-right: 36px;
            background-color: #873eff;
            border-radius: 8px;
            color: #fff;
        }

        &--startupper {
            background-color: #079629;
            color: #fff;
            border-radius: 8px;
        }
    }

    &__contact {
        list-style: none;
        
        &--btn {
            background-color: #484965;
            padding: 11px 22px;
            text-decoration: none;
            border-radius: 8px;

            svg {
                width: 20px;
                height: 20px;
                margin-right: 7px;
                fill: #fff;
            }

            span {
                color: #fff;
                font-size: 17px;
            }
        }
    }
}