.services {
    display: block;
    position: relative;
    
    &__head {
        padding-top: 100px;
        text-align: center;

        &--title {
            font-size: 48px;
            margin: 0;
        }
    }

    &__list {
        display: block;
        margin-top: 48px;

        &:hover .services-1{
            &__item {

                div {
                    opacity: .4;
                }
    
                &:hover {
                    div {
                        opacity: 1;
                    }   
                }
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        padding-bottom: 32px;
        cursor: pointer;

        @media (max-width: 992px) {
            flex-direction: column;
        }

        &--title {
            width: 40%;
            margin-right: 30px;
            text-align: end;

            @media (max-width: 992px) {
                width: unset;
                margin-right: 0;
                text-align: center;
                margin-bottom: 14px;
            }
        }

        &--title_text {
            font-size: 32px;
            margin: 0;
        }

        &--desc {
            width: 40%;
            margin-left: 30px;
            font-size: 16px;

            @media (max-width: 992px) {
                width: unset;
                margin-left: unset;
            }
        }
    }
}