.card {
    width: 100%;

    &__icon {
        height: 40px;

        svg {
            height: 100%;
            fill: #873eff;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
    }
}