.slideshow {
    width: 100%;
    min-height: 430px;
    height: calc(100vh - 70px);
    padding: 70px 0 140px;
    position: relative;
    background-color: #f6f1ed;
    z-index: 0;

    &__line {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -2;
        display: flex;
        border-top: 1px solid #484965;
        border-right: 1px solid #484965;
        animation-name: example;
        animation-duration: 1.5s;
        animation-fill-mode: both;
        
        @keyframes example {
            0% {width: 0%; height: 0%}
            50% {width: 100%; height: 0%}
            100% {width: 100%; height: 100%}
        }
        
        
        &--diagonal {
            width: 100%;
            height: 100%;
            background-color: #484965;
            clip-path: polygon(47% 51%, 47% 52%, 100% 0.2%, 99.8% 0%)
        }
        &::before {
            content: "";
            width: 5px;
            height: 5px;
            border-radius: 50%;
            display: block;
            background-color: #484965;
            position: absolute;
            top: -3px;
            left: 0;
        }

        &::after {
            content: "";
            width: 5px;
            height: 5px;
            border-radius: 50%;
            display: block;
            background-color: #484965;
            position: absolute;
            bottom: 0;
            right: -3px;
        }
    }

    &__content {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: flex-start;
    }

    &__text {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        h1 {
            font-size: 48px;
            color: #484965;

            @media (max-width: 1023px) {
                // font-size: 44px;
            }
        }

        h2 {
            font-size: 54px;
            color: #484965;

            @media (max-width: 1023px) {
                font-size: 32px;
            }
        }
    }
}


.slider {
    position: relative;
    padding-top: 100px;
    background-color: #f6f1ed;
}

.bg {
    background-image: url(./../../public/assets/ecommerce/img/illustrations/hero-bg.png);

    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    will-change: transform, opacity, filter;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    z-index: 0;
}

.cover {
    width: 100%;
    position: relative;

    img {
        width: 100%;
        height: auto;
    }
}

.text {
    display: block;
}

.title {
    font-size: 32px;
}