.team {
    &__item {
        margin: 0 15px;
        padding: 24px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    
        
        &--cover {
            width: 172px;
            height: 172px;
            margin-bottom: 8px;
            border-radius: 50%;
            overflow: hidden;
            // clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
        }
        
        &--img {
            width: 100%;
            height: 100%;
            background-position: top center;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: cover;
        }

        &--title {
            margin: 0;
            text-align: center;
            font-size: 18px;
            font-weight: 600;
        }

        &--position {
            margin-top: 8px;
            margin-bottom: 0;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
        }
    }
}