.about {
    padding: 100px 0;

    &__head {
        // padding-top: 100px;
        text-align: center;

        &--title {
            font-size: 48px;
            margin: 0;
        }
    }

    &__text {
        width: 80%;
        line-height: 20px;
        font-size: 14px;
        text-align: center;
        margin: auto;
        padding-top: 52px;

        p {
            margin: 7px 0;
            font-size: 16px;
        }
    }
}