.work {
    width: 100%;
    padding-top: 100px;
    position: relative;
}

@media (min-width: 911px) {
    .container {
        max-width: 911px;
    }
}


.center {
    height: 100%;
    position: absolute;
    padding-top: 48px;
    top: 0;
    left: 50%;
    transform: 'translateX(-50%)';

    @media (max-width: 992px) {
        width: 100%;
        height: unset;
        position: relative;
        padding-top: unset;
        top: unset;
        left: unset;
        transform: unset;
    }
}

.text {
    padding: 8px 18px;
    font-size: 32px;
    line-height: 34px;
    margin: 0;
    background-color: #fff;
    box-shadow: 0px 0px 84px 58px #ffffff;
    position: absolute;
    text-align: center;
    border-radius: 50px;

    @media (max-width: 992px) {
        position: relative;
        box-shadow: unset;
    }
}

.line {
    width: 1px;
    height: 100%;
    display: block;
    background-color: rgba(230, 230, 230, 1);
}

.item {
    height: 98px;
    padding: 16px;
    border: 1px solid rgba(230, 230, 230, .7);
    background-color: rgba(230, 230, 230, .3);
    border-radius: 102px 32px 32px 102px;

    @media (max-width: 992px) {
        margin: 0 !important;
    }
}


.cover {
    width: 64px;
    height: 64px;
    margin: 0 16px 0 0;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    overflow: hidden;

    svg {
        width: 25px;
    }
}

.number {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 16px 0 0;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    overflow: hidden;
    font-size: 32px;
    color: #484965;
}

.title {
    width: 130px;
    // padding-right: 30px;
    margin: 0;
    font-size: 16px;
    color: #484965;
}

.list {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    // display: flex;
    // flex-direction: column;
    // align-items: flex-end;
    // position: relative;
    // justify-content: space-between;
}