.about {
    display: block;
    padding: 100px 0;

    &__text {
        display: flex;
        flex-direction: column;
        
        &--title {
            margin-bottom: 48px;
            font-size: 48px;

            @media (max-width: 1023px) {
                text-align: center;
            }
        }

        &--descr {
            width: 80%;
            line-height: 20px;
            font-size: 14px;
            text-align: center;
            margin: auto;
            padding-top: 100px;
            
            p {
                margin: 7px 0;
                font-size: 16px;
            }
        }
    }
}